body {
  font-family: cursive;
  line-height: 25px;
  background-color: #DDD;
}

.app {
  display: flex;
  width: 100%;
  justify-content: 100%;
  align-items: center;
  flex-direction: column;
}

.main-header {
  position: fixed;
  width: 100%;
  background-color: brown;
  display: flex;
  color: #FFF;
  justify-content: center;
  align-items: center;
}

.main-frame {
  padding-top: 90px;
}

.card {
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #FFF;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  box-shadow: 5px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.6); 
}

.title-film {
  padding-bottom: 10px;
  font-size: 20px;
}

.title {
  color: #FFF;
  text-decoration: none;
}

.see-more {
  background-color: brown;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFF;
  height: 35px;
}

.sinopse {
  max-width: 1300px;
}
